@media screen and (max-width: 576px) {
    /* nav bar responsive styles */
    header nav{
        flex-direction: column;
        gap: 30px;
    }

    /* banner section responsive styles */
    #banner{
        padding: 50px 0 40px 0;
    }
    #banner .banner-title{
        font-size: 25px;
    }
    #banner .banner-desc{
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 820px) {
    /* nav bar responsive styles */
    header nav{
        flex-direction: column;
        gap: 30px;
    }

    /* banner section responsive styles */
    #banner{
        padding: 50px 0 40px 0;
    }
    #banner .banner-title{
        font-size: 25px;
    }
    #banner .banner-desc{
        width: 100%;
    }
}