@media screen and (max-width: 576px) {
    /* nav bar responsive styles */
    header nav{
        flex-direction: column;
        gap: 30px;
    }

    /* banner section responsive styles */
    #banner{
        padding: 50px 0 40px 0;
    }
    #banner .banner-title{
        font-size: 25px;
    }
    #banner .banner-desc{
        width: 100%;
    }

    /* features section responsive styles */
    #features .inner-features{
        gap: 40px;
        flex-direction: column-reverse;
        text-align: center;
    }
    #features .inner-features .pictures{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        gap: 10px;
    }
    #features .inner-features .pictures img{
        width: 100%;
    }

    /* facts section styles */
    #facts .facts-desc{
        width: 100%;
    }
    #facts .award-section{
        grid-template-columns: repeat(1, 1fr);
    }

    /* our sponspors section styles */

    #sponspors p{
        width: 100%;
    }
    #sponspors .sponspors-pics{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    #sponspors .sponspors-pics img:nth-child(4), #sponspors .sponspors-pics img:nth-child(5){
        margin-left: 70%;
    }
}









@media screen and (min-width: 577px) and (max-width: 820px) {
    /* nav bar responsive styles */
    header nav{
        flex-direction: column;
        gap: 30px;
    }

    /* banner section responsive styles */
    #banner{
        padding: 50px 0 40px 0;
    }
    #banner .banner-title{
        font-size: 25px;
    }
    #banner .banner-desc{
        width: 100%;
    }
    /* features section responsive styles */
    #features .inner-features{
        gap: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #features .inner-features .pictures{
        max-width: 100%;
        gap: 20px;
    }
    #features .inner-features .pictures img{
        width: 100%;
    }

    /* facts section styles */
    #facts .facts-desc{
        width: 80%;
    }
    #facts .award-section{
        grid-template-columns: repeat(2, 1fr);
    }

    /* our sponspors section styles */

    #sponspors p{
        width: 100%;
    }
    #sponspors .sponspors-pics{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    #sponspors .sponspors-pics img:nth-child(4), #sponspors .sponspors-pics img:nth-child(5){
        margin-left: 60%;
    }
}







@media screen and (min-width: 821px) and (max-width: 1024px) {

    /* banner section responsive styles */
    #banner{
        padding: 50px 0 40px 0;
    }
    #banner .banner-title{
        font-size: 25px;
    }
    #banner .banner-desc{
        width: 100%;
    }
    /* features section responsive styles */
    #features .inner-features{
        gap: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #features .inner-features .pictures{
        max-width: 100%;
        gap: 20px;
    }
    #features .inner-features .pictures img{
        width: 100%;
    }

    /* facts section styles */
    #facts .facts-desc{
        width: 80%;
    }
    #facts .award-section{
        grid-template-columns: repeat(2, 1fr);
    }
}